<h1><%= t(".account_search") %></h1>

<section>
  <%= form_with method: :get do |f| %>
    <div>
      <%= f.text_field :term, value: params[:term], size: 50 %>
      <button type="submit"><%= t(".search") %></button>
    </div>
  <% end %>
</section>

<section>
  <% if @actors.any? %>
    <table>
      <thead>
        <tr>
          <th><%= Actor.human_attribute_name(:uri) %></th>
          <th><%= Actor.human_attribute_name(:actor_type) %></th>
        </tr>
      </thead>
      <tbody>
        <% @actors.each do |actor| %>
          <tr>
            <td>
              <%= link_to truncate(actor.uri, length: 100), actor.uri %>
            </td>
            <td><%= actor.actor_type %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>
