<%= render_tabs ApplicationHelper::TRENDS_TABS, active: :content, scope: "trends.tabs" %>

<h1><%= t(".content_trends") %></h1>

<table>
  <thead>
    <tr>
      <th><%= ContentObject.human_attribute_name(:uri) %></th>
      <th><%= t(".score") %></th>
      <th><%= t(".rank") %></th>
    </tr>
  </thead>
  <tbody>
    <% @trending_content.each do |content_object| %>
      <tr>
        <td>
          <%= link_to truncate(content_object.uri, length: 100), content_object.uri %>
        </td>
        <td><%= content_object.score %></td>
        <td><%= content_object.rank %></td>
      </tr>
    <% end %>
  </tbody>
</table>
