<h1><%= t(".follow_recommendation_presets") %></h1>

<p><%= t(".follow_recommendation_presets_description") %></p>

<%= form_with url: admin_follow_recommendation_presets_path do |f| %>
  <div>
    <%= f.url_field :uri, placeholder: t(".uri_placeholder") %>
    <button type="submit"><%= t(".add_account") %></button>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= Actor.human_attribute_name(:uri) %></th>
      <th><%= Actor.human_attribute_name(:discoverable) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @follow_recommendation_presets.each do |actor| %>
      <tr class="even:bg-blue-50">
        <td><%= actor.uri %></td>
        <td><% if actor.discoverable? %>&check;<% end %></td>
        <td>
          <%= action_link_to t(".delete"), admin_follow_recommendation_preset_path(actor), data: {turbo_method: :delete} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
