<div class="flex justify-between items-center">
  <%= page_header do %>
    <%= t(".follow_recommendation_presets") %>
  <% end %>
</div>

<p class="font-lg text-gray-700"><%= t(".follow_recommendation_presets_description") %></p>

<%= form_with url: admin_follow_recommendation_presets_path do |f| %>
  <div class="flex gap-2">
    <%= f.url_field :uri, placeholder: t(".uri_placeholder") %>
    <%= button type: :submit do %>
      <%= t(".add_account") %>
    <% end %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= Actor.human_attribute_name(:uri) %></th>
      <th><%= Actor.human_attribute_name(:discoverable) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @follow_recommendation_presets.each do |actor| %>
      <tr class="even:bg-blue-50">
        <%= td do %><%= actor.uri %><% end %>
        <%= td do %><% if actor.discoverable? %>&check;<% end %><% end %>
        <%= td do %>
          <%= action_link_to t(".delete"), admin_follow_recommendation_preset_path(actor), data: {turbo_method: :delete} %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
