<%= render_tabs ApplicationHelper::TRENDS_TABS, active: :hashtags, scope: "trends.tabs" %>

<h1><%= t(".hashtag_trends") %></h1>


<table>
  <thead>
    <tr>
      <th><%= Hashtag.human_attribute_name(:name) %></th>
      <th><%= t(".score") %></th>
      <th><%= t(".rank") %></th>
    </tr>
  </thead>
  <tbody>
    <% @trending_hashtags.each do |hashtag| %>
      <tr>
        <td><%= hashtag.name %></td>
        <td><%= hashtag.score %></td>
        <td><%= hashtag.rank %></td>
      </tr>
    <% end %>
  </tbody>
</table>
