<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || Rails.application.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-blue-100">
      <nav class="container mx-auto p-4 flex justify-between">
        <div class="flex gap-8">
          <p class="font-bold text-gray-600 px-2 py-1">
            <%= Rails.application.name %>
          </p>
          <% if admin_signed_in? %>
            <%= nav_link_to t(".users"), fasp_base.admin_users_path %>
            <% if registration_invite_only? %>
              <%= nav_link_to t(".invitation_codes"), fasp_base.admin_invitation_codes_path %>
            <% end %>
            <%= nav_link_to t(".settings"), fasp_base.admin_settings_path %>
          <% end %>
        </div>
        <div class="flex gap-8">
          <% if admin_signed_in? %>
            <%= nav_link_to t(".sign_out"), fasp_base.admin_session_path, data: {turbo_method: :delete} %>
          <% end %>
        </div>
      </nav>
    </header>
    <main class="container mx-auto mt-8 px-5">
      <%= notification(notice) if notice %>
      <%= notification(alert, type: :alert) if alert %>

      <%= yield %>
    </main>
  </body>
</html>
