<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || Rails.application.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="container">
        <section>
          <%= link_to Rails.application.name, main_app.root_path %>
          <% if signed_in? %>
            <%= link_to t(".trends"), main_app.content_trends_path %>
            <%= link_to t(".account_search"), main_app.account_search_path %>
          <% end %>
        </section>
        <section>
          <% if signed_in? %>
            <%= link_to t('.sign_out'), fasp_base.session_path, data: {turbo_method: :delete} %>
          <% else %>
            <% if registration_enabled? %>
              <%= link_to t(".sign_up"), fasp_base.new_registration_path %>
            <% end %>
            <%= link_to t(".sign_in"), fasp_base.new_session_path %>
          <% end %>
        </section>
      </nav>
    </header>
    <main class="container mx-auto mt-8 px-5">
      <%= render_notification(notice) if notice %>
      <%= render_notification(alert, type: :alert) if alert %>

      <%= yield %>
    </main>
  </body>
</html>
